.footer{
    margin-top: 50px;
    background-color:#242424 ;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
  .footer-col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
  }
  .footer-col a{
      text-decoration: none;
  }

  .fa-facebook-square{
      margin-left: 15px;
  }

  .fa-instagram{
    margin-left: 15px;
  }